.footer{
    background-color: #e6e6e6;
    padding: 15px 15px;
    font-size: 17px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border: thin;
    color: black;
    border-top-style: groove;
}