.footer{
    background-color: white;
    padding: 15px 15px;
    font-size: 17px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border: thin;
    border-color: burlywood;
    color: #0071c5;
}