/* td,th{
    
   
    border-style: double;
    border-radius: 20px;
}

table{
    width: 100%;
    border-style: double;
    text-align: center;
    border-radius: 20px;
    color: #0071c5;
   
} */
table{
  width: 100%;
  text-align: center;
}

td,  th {
  border: 1px solid rgb(212, 212, 218);
  padding: 1px;
  text-align: center;
}
tr:nth-child(even){background-color: #f2f2f2;}

 tr:hover {background-color: #ddd;}

th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #0071c5;
  color: white;
  text-align: center;
}
scroll{
    overflow-y: scroll;
    overflow-x: scroll;
    color: greenyellow;
}

button{
    background-color: #0071c5;
    border-color: white;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input{
  align-content: center;
  width:80%;
  background-color: #e7e7e7;
}

/* .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #04AA6D;
    cursor: pointer;
  }

  .slider {
    -webkit-appearance: none;
    width: 90%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
   */

   
   .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
    padding: 5px;
  }

   

   .slider::-webkit-slider-thumb {
    -webkit-appearance :initial;
    appearance: none;
    width: 20px;
    height: 30px;
    background: #f0f2f3;
    cursor: pointer;
    border: inset;
    border-color: #0071c5;
    padding: 5px;
  }

  .slider {
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    background: #0071c5;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 5px;
    border: 5px ;
    position: relative;

  }

  #sliderbox{
    width: 100%;
    padding: 10px;
    text-align: center;
  }